p, ul, li, ol, h1, h2, h3, h4, h5, h6{
    padding: 0px;
    margin: 0px;
}

#jogo{
	height: 600px;
	width: 600px;
	margin: auto;
	border: 2px solid #474747;
	border-radius: 2px;
}

#linhaTitulo, #linhaOpcoes, #linhaInfo, #linhaStatus{
	height: 50px;
	width: 600px;
	background-color: #474747;
	color: #aaaaaa;
}

#linhaTitulo{
	height: 48px;
	width: 598px;
	border: 1px solid transparent;
	border-image: url('imagens/interface/itembg.png') repeat;
	border-image-width: 6px 6px;
	border-image-slice: 9;
	font-size: 45px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
}

#caixaNovo{
	background-color: #2e7d32;
}

#caixaSalvar{
	background-color: #1565c0;
}

#caixaCarregar{
	background-color: #c62828;
}

#caixaNovo, #caixaSalvar, #caixaCarregar{
	height: 46px;
	width: 196px;
	float: left;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	line-height: 46px;
	color: #dddddd;
	border: 2px solid transparent;
	border-image: url('imagens/interface/itembg.png') repeat;
	border-image-width: 6px 6px;
	border-image-slice: 9;
	transition: 0.5s;
}

#caixaNovo:active, #caixaSalvar:active, #caixaCarregar:active{
	transition: 0.5s;
}

#caixaNovo:active{
	background-color: #005005;
}

#caixaSalvar:active{
	background-color: #003c8f;
}

#caixaCarregar:active{
	background-color: #8e0000;
}

#caixaNome{
	height: 46px;
	width: 196px;
	float: left;
	text-align: center;
	border: 2px solid transparent;
	border-image: url('imagens/interface/itembg.png') repeat;
	border-image-width: 6px 6px;
	border-image-slice: 9;
}

#txtNome{
	font-size: 20px;
	font-weight: bold;
}

#txtTempo{
	font-weight: bold;
}

#caixaMapa{
	height: 46px;
	width: 196px;
	float: left;
	text-align: center;
	line-height: 46px;
	border: 2px solid transparent;
	border-image: url('imagens/interface/itembg.png') repeat;
	border-image-width: 6px 6px;
	border-image-slice: 9;
}

#txtMapa{
	font-size: 20px;
	font-weight: bold;
}

#caixaNivel{
	height: 46px;
	width: 196px;
	float: left;
	text-align: center;
	border: 2px solid transparent;
	border-image: url('imagens/interface/itembg.png') repeat;
	border-image-width: 6px 6px;
	border-image-slice: 9;
}

#txtNivel{
	font-size: 20px;
	font-weight: bold;
}

#linhaStatus{
	background-color: #000000;
}

#txtStatus{
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
}

#linhaCenario{
	height: 300px;
	width: 600px;
	background-color: green;
	position: relative;
}

#personagemJogador, #personagemInimigo{
	height: 128px;
	width: 128px;
	position: absolute;
	bottom: 50px;
}

#personagemJogador{
	background-color: blue;
	left: 175px;
}

#personagemInimigo{
	background-color: red;
	right: 175px;
}

#setaEsquerda, #setaDireita{
	height: 32px;
	width: 32px;
	background-color: gray;
	position: absolute;
	bottom: 150px;
}

#setaEsquerda{
	left: 0px;
}

#setaDireita{
	right: 0px;
}

#linhaPersonagem{
	height: 100px;
	width: 600px;
	background-color: #474747;
	color: #aaaaaa;
}

#itens{
	height: 100px;
	width: 150px;
	float: left;
}

#linhaItens1, #linhaItens2{
	height: 50px;
	width: 150px;
	float: left;
}

#item1, #item2, #item3, #item4, #item5, #item6{
	height: 48px;
	width: 48px;
	float: left;
	position: relative;
	border: 1px solid transparent;
	border-image: url('imagens/interface/itembg.png') repeat;
	border-image-width: 6px 6px;
	border-image-slice: 9;
}

#quantidadeItem1, #quantidadeItem2, #quantidadeItem3, #quantidadeItem4, #quantidadeItem5, #quantidadeItem6, #descricaoItem1, #descricaoItem2, #descricaoItem3, #descricaoItem4, #descricaoItem5, #descricaoItem6{
	height: 19px;
	width: 19px;
	position: absolute;
	bottom: 0px;
	background-color: white;
	opacity: 0.5;
	text-align: center;
	line-height: 19px;
	border: 1px solid #000000;
	border-radius: 5px;
	color: #000000;
}

#quantidadeItem1, #quantidadeItem2, #quantidadeItem3, #quantidadeItem4, #quantidadeItem5, #quantidadeItem6{
	left: 0px;
}

#descricaoItem1, #descricaoItem2, #descricaoItem3, #descricaoItem4, #descricaoItem5, #descricaoItem6{
	right: 0px;
}

#infoItens{
	height: 100px;
	width: 150px;
	float: left;
}

#nomeItem{
	height: 23px;
	width: 148px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	border: 1px solid transparent;
	border-image: url('imagens/interface/itembg.png') repeat;
	border-image-width: 6px 6px;
	border-image-slice: 9;
}

#descricaoItem{
	height: 67px;
	width: 142px;
	border: 1px solid transparent;
	border-image: url('imagens/interface/itembg.png') repeat;
	border-image-width: 6px 6px;
	border-image-slice: 9;
	padding: 3px;
}

#atributos{
	height: 100px;
	width: 300px;
	float: left;
}

#linhaAtributos1, #linhaAtributos2, #linhaAtributos3, #linhaAtributos4, #linhaAtributos5{
	height: 18px;
	width: 298px;
	border: 1px solid transparent;
	border-image: url('imagens/interface/itembg.png') repeat;
	border-image-width: 6px 6px;
	border-image-slice: 9;
}

#txtAtaque, #txtDefesa, #txtAtaqueMagico, #txtDefesaMagica, #txtVida{
	height: 18px;
	width: 188px;
	float: left;
	line-height: 18px;
	font-size: 15px;
	padding-left: 10px;
	font-weight: bold;
}

#bonusAtaque, #bonusDefesa, #bonusAtaqueMagico, #bonusDefesaMagica, #totalAtaque, #totalDefesa, #totalAtaqueMagico, #totalDefesaMagica, #atualVida, #totalVida{
	height: 18px;
	width: 48px;
	float: left;
	line-height: 18px;
	font-size: 15px;
	font-weight: bold;
}

#bonusAtaque, #bonusDefesa, #bonusAtaqueMagico, #bonusDefesaMagica{
	color: red;
}