p, ul, li, ol, h1, h2, h3, h4, h5, h6{
    padding: 0px;
    margin: 0px;
}

#jogo{
	height: 600px;
	width: 600px;
	margin: auto;
	border: 2px solid green;
}

#linhaTitulo, #linhaOpcoes, #linhaInfo{
	height: 50px;
	width: 600px;
}

#caixaTitulo{
	height: 50px;
	width: 600px;
	font-size: 40px;
	font-weight: bold;
	float: left;
	line-height: 45px;
	text-align: center;
}

#caixaNovo{
	background-color: #00c853;
}

#caixaSalvar{
	background-color: #2962ff;
}

#caixaCarregar{
	background-color: #d50000;
}

#caixaNovo, #caixaSalvar, #caixaCarregar{
	height: 48px;
	margin-top: 1px;
	margin-bottom: 1px;
	width: 200px;
	float: left;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
	line-height: 48px;
	transition: 0.5s;
}

#caixaNovo:hover, #caixaSalvar:hover, #caixaCarregar:hover{
	transition: 0.5s;
}

#caixaNovo:hover{
	background-color: #5efc82;
}

#caixaSalvar:hover{
	background-color: #768fff;
}

#caixaCarregar:hover{
	background-color: #ff5131;
}

#caixaNovo:active, #caixaSalvar:active, #caixaCarregar:active{
	transition: 0.5s;
}

#caixaNovo:active{
	background-color: #009624;
}

#caixaSalvar:active{
	background-color: #0039cb;
}

#caixaCarregar:active{
	background-color: #9b0000;
}

#caixaNome{
	height: 46px;
	width: 196px;
	border: 2px solid blue;
	float: left;
	text-align: center;
}

#caixaMapa{
	height: 46px;
	width: 196px;
	border: 2px solid yellow;
	float: left;
	text-align: center;
	line-height: 46px;
}

#caixaNivel{
	height: 46px;
	width: 196px;
	border: 2px solid red;
	float: left;
	text-align: center;
}